.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
e2e_test.*
*.log
node_modules

.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
modules/.settings
modules/.vscode

# Don't check in secret files
*secret.js