<div class="">
    <div class="text-center">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }} </p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>

        <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please {{ isLoginMode ? 'Login' : 'Sign Up' }}</h1>
            <label for="email" class="sr-only">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" ngModel required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" ngModel required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> | 
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; FFS 2020</p>
          </form>

    </div>
</div>